<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card shadow">
        <div class="card-header text-capitalize">
          Welcome to the dashboard
        </div>
        <div class="card-body">
          A Mean Stack Demo with:
          <ul class="">
            <li>User Authentication using:</li>
            <ul>
              <li>Passport</li>
              <li>Passport JWT</li>
              <li>jsonwebtoken</li>
            </ul>
            <li>Route Guards</li>
            <li>Form validation</li>
            <ul>
              <li>Client</li>
              <li>Server</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>