body,
html {
  height: 100%;
}

.flash-messages p {
  margin-bottom: 0 !important;
}

.login {
  /* background: #f5f5f5; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.login-email-input {
  border-bottom: 0 !important;
  padding: 10px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.login-password-input {
  border-bottom: 0 !important;
  padding: 10px;
  border-radius: 0 !important;
}
.login-submit {
  padding: 10px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.cover {
  height: 100%;
  margin-top: -56px;
  background: -moz-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/assets/img/cover.jpg") center center;
  background: -webkit-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/assets/img/cover.jpg") center center;
  background: -ms-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/assets/img/cover.jpg") center center;
  background: -o-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/assets/img/cover.jpg") center center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/assets/img/cover.jpg") center center;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.cover-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
